main{
    display: flex;
    flex-direction: column;
    
}

/*header style*/
header div{
    margin: 2vh;
}


header{
    flex-grow: 4;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*header-Sol kutu*/
.sekilSolUst{
    background-color: #f6f8fc;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 30vw;
}

.sekilSolUst aside{
    background-color: #6dadf4;
    margin: 1vh;
}

.asideUst{
    width: 23vw;
    height: 1.5vh;
}

.asideOrta{
    width: 23vw;
    height: 1vh;
}

.asideAlt{
    width: 7vw;
    height: 2.5vh;
}

/*header-orta kutu*/
.sekilOrtaUst{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f6f8fc;
    width: 35vw;
    height: 12vh;
}
.daire{
    width: 3vw;
    height: 3vw;
    border-radius: 100%;
    background-color: #6dadf4;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}

.ucgen{    
    width:0.4vh;
    height:0.4vh;
    border-top:0.8vh solid transparent;
    border-bottom:0.8vh solid transparent;
    border-left:1.6vh solid #f6f8fc;   
}


/*header-sag kutu*/
.sekilSagUst{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 20vw;    
    height: 12vh;
}

.sekilSagUst aside{
    width: 20vw;
    background-color: #f6f8fc;
    height: 1.2vh;
    
}


/*section style*/
section{
    background-color: #6dadf4;
    flex-grow: 12;
    height: 70vh;
}







/*footer style*/
footer{
    background-color: #6dadf4;
    flex-grow: 1;
    height: 7vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    
}

footer div{
    background-color: rgb(237, 243, 242);
    width: 4vw;
    height: 5vh;
    
}

.footerAltSol{
    width: 60vw;
    height: 5vh;
    display: flex;
    align-items: center;
    float: left;
    
}

.ic{
    background-color: #62a6f1;
    width: 45vw;
    height: 4vh;
    margin: 2px;
}










