/*footer style*/

footer{
    height: 7vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

footer div{
    width: 4vw;
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footerAltSol{
    width: 60vw;
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: left;
}

p{
    font-size: 5vh;
    font-weight: bolder;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.ic{
    background-color: #62a6f1;
    width: 45vw;
    height: 4vh;
    margin: 2px;
}
